
@font-face {
	font-family: 'Lato';
	src: url('../fonts/Lato-Regular.eot');
	src: url('../fonts/Lato-Regular.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Lato-Regular.woff2') format('woff2'),
		url('../fonts/Lato-Regular.woff') format('woff'),
		url('../fonts/Lato-Regular.ttf') format('truetype'),
		url('../fonts/Lato-Regular.svg#Lato-Regular') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Lato Bold';
	src: url('../fonts/Lato-Bold.eot');
	src: url('../fonts/Lato-Bold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Lato-Bold.woff2') format('woff2'),
		url('../fonts/Lato-Bold.woff') format('woff'),
		url('../fonts/Lato-Bold.ttf') format('truetype'),
		url('../fonts/Lato-Bold.svg#Lato-Bold') format('svg');
	font-weight: bold;
	font-style: normal;
}
.it-logo{    margin-left: auto;
    margin-right: auto;
    width: 292px;
    text-align: center;}
.it-logo img{ width:120px; float:left;}
.it-logo span{ float:left;font-size: 20px;color: #fff;position: relative;top: 40px;left: -45px;}


.work_body{ width:100%; float:left;}
.menu_banner{width:100%; float:left;    position: absolute;
    z-index: 1; }
.menu_workarea{ position:relative;}
.slider_video{ position:relative; float:left; width:100%; }
.it_wrkarea{ float:left; width:100%;position:relative; margin-bottom: 0px;}
.text-js {
  opacity: 0.1;
}
.it_desc{ float:left; width:100%;    margin-bottom: 35px; }
.clr{
	clear: both;
	padding: 0;
	height: 0;
	margin: 0;
}
.main{
	width: 100%;
	margin: 0 auto;
	position: relative;
}

.main{
	width: 100%;
	margin: 0 auto;
	position: relative;
}



.info {
    float: left;
    width: 100%;

}

.it_desc p {
font-size: 20px;
padding: 0px 10%;
float: left;
color: #f1f1f1;
text-shadow: 0px 0px 1px rgba(0, 0, 0, 0.9);text-align: center;
}

.info h2 {
	color: #fff;
	text-shadow: 0 1px 1px rgba(0,0,0,0.3);
	padding: 0;
 text-align: center;
	    font-size: 35px;
    font-weight: normal;
    width: 100%;
    float: left;
    margin: 30px 0px;min-height: 45px;
}

/* Header Style */
.codrops-top {
	line-height: 24px;
	font-size: 11px;
	background: #000;
	background: rgba(255, 255, 255, 0.1);
	text-transform: uppercase;
	z-index: 9999;
	font-family: Cambria, Georgia, sans-serif;
	position: relative;
	box-shadow: 1px 0px 2px rgba(0,0,0,0.2);
}
.codrops-top a{
	padding: 0px 10px;
	letter-spacing: 1px;
	color: #fff;
	display: inline-block;
}
.codrops-top a:hover{
	background: rgba(255,255,255,0.6);
}
.codrops-top span.right{
	float: right;
}
.codrops-top span.right a{
	float: left;
	display: block;
}

/* Header Style */
.codrops-top {
	line-height: 24px;
	font-size: 11px;
	background: #000;
	background: rgba(255, 255, 255, 0.1);
	text-transform: uppercase;
	z-index: 9999;
	font-family: Cambria, Georgia, sans-serif;
	position: relative;
	box-shadow: 1px 0px 2px rgba(0,0,0,0.2);
}
.codrops-top a{
	padding: 0px 10px;
	letter-spacing: 1px;
	color: #fff;
	display: inline-block;
}
.codrops-top a:hover{
	background: rgba(255,255,255,0.6);
}
.codrops-top span.right{
	float: right;
}
.codrops-top span.right a{
	float: left;
	display: block;
}

.co-slider{
	width: 100%;
	min-height: 700px;
	margin: 0;
	padding: 30px 0;
	color: #fff;
	background: url(../images/codrops_logo_trans.png) no-repeat 50% 50px;
	font-weight: 900;
	border-top: 1px solid rgba(255,255,255, 0.3);
}

.co-item {
	list-style: none;
	position: absolute;
	display: block;
	width: 100%;
	text-align: center;
	display: none;
}

.co-date {
	color: rgba(255, 255, 255, 0.3);
	position: absolute;
	font-size: 60px;
	width: 100%;
	text-align: center;
	line-height: 36px;
}

.co-date span {
	display: inline-block;
	margin: 0 10px 0 5px;
	text-align: center;
	padding: 0 6px;
	position: relative;
	border-radius: 2px;
}
.co-date span:not(:last-child):after{
	content: '';
	height: 100px;
	width: 1px;
	top: -31px;
	background: rgba(255,255,255,0.2);
	position: absolute;
	right: -15px;
	-webkit-transform: rotate(6deg);
	-moz-transform: rotate(6deg);
	-o-transform: rotate(6deg);
	-ms-transform: rotate(6deg);
	transform: rotate(6deg);
}

.co-circle {
	width: 300px;
	height: 300px;
	border-radius: 50%;
	background-position: center center;
	background-repeat: no-repeat;
	margin: 70px auto 0px;
	position: relative;
}


.co-info-wrap{
	position: absolute;
	width: 200px;
	height: 200px;
	border-radius: 50%;
	top: 50px;
	left: 50px;

	-webkit-perspective: 800px;
	-moz-perspective: 800px;
	-o-perspective: 800px;
	-ms-perspective: 800px;
	perspective: 800px;

	-webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	-ms-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
	
	background: url(../images/fakebg.jpg) no-repeat center center;
	box-shadow: 
		0 0 0 20px rgba(255,255,255,0.2);

}

.co-info{
	position: absolute;
	width: 200px;
	height: 200px;
	border-radius: 50%;

	-webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	-ms-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
		
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	-o-transform-style: preserve-3d;
	-ms-transform-style: preserve-3d;
	transform-style: preserve-3d;

}

.co-info > div {
	display: block;
	position: absolute;
	width: 100%;
	height: 100%;
	border-radius: 50%;
	background-position: center center;

	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	-o-backface-visibility: hidden;
	-ms-backface-visibility: hidden;
	backface-visibility: hidden;
}

.co-info .co-info-back {
	-webkit-transform: rotate3d(1,1,0,180deg);
	-moz-transform: rotate3d(1,1,0,180deg);
	-o-transform: rotate3d(1,1,0,180deg);
	-ms-transform: rotate3d(1,1,0,180deg);
	transform: rotate3d(1,1,0,180deg);
	box-shadow:	inset 0 0 1px rgba(0,0,0,0.3);
	background: #336d92 url(../images/back.jpg);
}

.co-info-back a {
	display: block;
	font-size: 18px;
	color: rgba(255,255,255,0.8);
	font-weight: 300;
	text-shadow: 0 1px 1px rgba(0,0,0,0.3);
	margin: 0 30px;
	padding: 15px 0;
	text-transform: uppercase;
}

.co-info-back a:first-child {
	margin-top: 65px;
	border-bottom: 1px solid rgba(0,0,0,0.2);
	box-shadow: 0 1px 0 rgba(255,255,255,0.3);
}

.co-info-back a:hover {
	color: #fff;
}

.co-info-back a:active {
	text-shadow: 0 1px 1px rgba(255,255,255,0.4);
	color: #27587b;
}

.co-circle:hover .co-info-wrap {
	box-shadow: 
		0 0 0 0 rgba(255,255,255,0.8);
}

.co-circle:hover .co-info {
	-webkit-transform: rotate3d(1,1,0,-180deg);
	-moz-transform: rotate3d(1,1,0,-180deg);
	-o-transform: rotate3d(1,1,0,-180deg);
	-ms-transform: rotate3d(1,1,0,-180deg);
	transform: rotate3d(1,1,0,-180deg);
}

.co-shadow {
	background: transparent url(../images/shadow.png) no-repeat center center;
	width: 300px;
	height: 16px;
	margin: -6px auto 20px auto;
	position: relative;
	z-index: 1;
}

.co-title {
	height: 130px;
}

.co-title h3 {
	font-weight: 900;
	text-transform: uppercase;
	font-size: 22px;
	letter-spacing: 1px;
	width: 320px;
	padding: 50px 10px 20px;
	margin: 0 auto;
	text-shadow: 0 1px 1px rgba(0,0,0,0.3);
}
a.co-link {
	background: rgba(255,255,255,0.1);
	border-radius: 3px;
	box-shadow: 0 1px 2px rgba(0,0,0,0.2);
	color: #fff;
	padding: 5px 10px;
	line-height: 16px;
	text-transform: uppercase;
	font-size: 12px;
	letter-spacing: 2px;
	text-shadow: 0 1px 1px rgba(0,0,0,0.3);
}
a.co-link:hover {
	background: rgba(255,255,255,0.3);
}

a.co-link:active {
	box-shadow: inset 0 1px 2px rgba(0,0,0,0.4);
}

.co-slider nav {
	width: 80px;
	height: 24px;
	position: absolute;
	left: 50%;
	margin: 0 0 0 -40px;
	z-index: 1000;
	top: 420px;
}

.co-slider nav a {
	text-indent: -90000px;
	width: 40px;
	height: 24px;
	background: url(../images/arrows.png) no-repeat 120% 50%;
	background: rgba(255,255,255,0.1) url(../images/arrows.png) no-repeat 120% 50%;
	cursor: pointer;
	display: block;
	float: right;
	border-radius: 0 3px 3px 0;
	box-shadow: 0 1px 2px rgba(0,0,0,0.15);
	border-left: 1px solid rgba(255,255,255,0.2);
	outline: none;
}
.co-slider nav a:first-child{
	float: left;
	background-position: -20% 50%;
	border-radius: 3px 0 0 3px;
	border-left: none;
}

.co-slider nav a:hover{
	background-color: rgba(255,255,255,0.15);
}

.co-slider nav a:active{
	box-shadow: inset 0 1px 2px rgba(0,0,0,0.15);
}


/* Background images */
.co-img-1 { background-image: url(../images/1.jpg); }
.co-img-2 { background-image: url(../images/2.jpg); }
.co-img-3 { background-image: url(../images/3.jpg); }
.co-img-4 { background-image: url(../images/4.jpg); }
.co-img-5 { background-image: url(../images/5.jpg); }
.co-img-6 { background-image: url(../images/6.jpg); }
.co-img-7 { background-image: url(../images/7.jpg); }
.co-img-8 { background-image: url(../images/8.jpg); }
.co-img-9 { background-image: url(../images/9.jpg); }
.co-img-10 { background-image: url(../images/10.jpg); }
.co-img-11 { background-image: url(../images/11.jpg); }
.co-img-12 { background-image: url(../images/12.jpg); }
.co-img-13 { background-image: url(../images/13.jpg); }
.co-img-14 { background-image: url(../images/14.jpg); }
.co-img-15 { background-image: url(../images/15.jpg); }
.co-img-16 { background-image: url(../images/16.jpg); }
.co-img-17 { background-image: url(../images/17.jpg); }
.co-img-18 { background-image: url(../images/18.jpg); }
.co-img-19 { background-image: url(../images/19.jpg); }
.co-img-20 { background-image: url(../images/20.jpg); }
.co-img-21 { background-image: url(../images/21.jpg); }
.co-img-22 { background-image: url(../images/22.jpg); }
.co-img-23 { background-image: url(../images/23.jpg); }
.co-img-24 { background-image: url(../images/24.jpg); }


@media screen and (max-width: 630px){
	.info { width: 100%;}
	.info h2 { font-size: 30px; }
	.info p { font-size: 24px; }
	.co-date { font-size: 60px; } 
	.co-date span:not(:last-child)::after { height: 60px; top: -12px; }
}

@media screen and (max-width: 630px){
	.container > header { padding: 10px; }
	.co-date { font-size: 40px; } 
	.co-date span:not(:last-child)::after { height: 40px; top: 0px; }
}



@keyframes bounce {
	0%, 100%, 20%, 50%, 80% {
		-webkit-transform: translateY(0);
		-ms-transform:     translateY(0);
		transform:         translateY(0)
	}
	40% {
		-webkit-transform: translateY(-10px);
		-ms-transform:     translateY(-10px);
		transform:         translateY(-10px)
	}
	60% {
		-webkit-transform: translateY(-5px);
		-ms-transform:     translateY(-5px);
		transform:         translateY(-5px)
	}
}
.bounce_button {  
    height: 30px;
width: 30px;
  position: absolute;
  bottom: 30px;
  left: 50%;
background-color: #3369E8;  
  border-radius: 50%;
  text-align: center;
  text-transform: uppercase;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
  color: white;
}
.bounce_button:hover {
  cursor: pointer;
  animation-name: bounce;
  -moz-animation-name: bounce;
}

.bounce_buttons {
    height: 30px;
    width: 30px;
    position: relative;
    bottom: 40px;
    left:48.5%;
    background-color: #3369E8;
    border-radius: 50%;
    text-align: center;
    text-transform: uppercase;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
    color: white;
    padding: 6px;
}
.bounce_buttons:hover {
  cursor: pointer;
  animation-name: bounce;
  -moz-animation-name: bounce;
}
.dropdown_sec{ font-size: 30px; color: #fff;}
.dropdown_secs{ 
	font-size: 30px; 
	color: #fff;
	position: relative;
	top: 5px;
}
.itsec_wrkarea{ float: left; width: 100%;  background-image: url("../images/buried.png"); }

.nice-select {
  -webkit-tap-highlight-color: transparent;
 background: #f7f7f7;
  border-radius: 5px;
  border: solid 1px #e0e7ee;
  box-sizing: border-box;
  clear: both;
  cursor: pointer;
  display: block;
  float: left;
  font-family: inherit;
  font-size: 14px;
  font-weight: normal;
  height: 42px;
  line-height: 40px;
  outline: none;
  padding-left: 18px;
  padding-right: 30px;
  position: relative;
  text-align: left !important;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  white-space: nowrap;
  width: auto; }
  .nice-select:hover {
    border-color: #d0dae5; }
  .nice-select:active, .nice-select.open, .nice-select:focus {
    border-color: #88bfff; background: #fff;}
  .nice-select:after {
    border-bottom: 2px solid #90a1b5;
    border-right: 2px solid #90a1b5;
    content: '';
    display: block;
    height: 5px;
    margin-top: -4px;
    pointer-events: none;
    position: absolute;
    right: 12px;
    top: 50%;
    -webkit-transform-origin: 66% 66%;
        -ms-transform-origin: 66% 66%;
            transform-origin: 66% 66%;
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    -webkit-transition: all 0.15s ease-in-out;
    transition: all 0.15s ease-in-out;
    width: 5px; }
  .nice-select.open:after {
    -webkit-transform: rotate(-135deg);
        -ms-transform: rotate(-135deg);
            transform: rotate(-135deg); }
  .nice-select.open .list {
    opacity: 1;
    pointer-events: auto;
    -webkit-transform: scale(1) translateY(0);
        -ms-transform: scale(1) translateY(0);
            transform: scale(1) translateY(0); }
  .nice-select.disabled {
    border-color: #e7ecf2;
    color: #90a1b5;
    pointer-events: none; }
    .nice-select.disabled:after {
      border-color: #cdd5de; }
  .nice-select.wide {
    width: 100%; }
    .nice-select.wide .list {
      left: 0 !important;
      right: 0 !important; }
  .nice-select.right {
    float: right; }
    .nice-select.right .list {
      left: auto;
      right: 0; }
  .nice-select.small {
    font-size: 12px;
    height: 36px;
    line-height: 34px; }
    .nice-select.small:after {
      height: 4px;
      width: 4px; }
    .nice-select.small .option {
      line-height: 34px;
      min-height: 34px; }
  .nice-select .list {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 0 1px rgba(68, 88, 112, 0.11);
    box-sizing: border-box;
    margin-top: 4px;
    opacity: 0;
    overflow: hidden;
    padding: 0;
    pointer-events: none;
    position: absolute;
    top: 100%;
    left: 0;
    -webkit-transform-origin: 50% 0;
        -ms-transform-origin: 50% 0;
            transform-origin: 50% 0;
    -webkit-transform: scale(0.75) translateY(-21px);
        -ms-transform: scale(0.75) translateY(-21px);
            transform: scale(0.75) translateY(-21px);
    -webkit-transition: all 0.2s cubic-bezier(0.5, 0, 0, 1.25), opacity 0.15s ease-out;
    transition: all 0.2s cubic-bezier(0.5, 0, 0, 1.25), opacity 0.15s ease-out;
    z-index: 9; }
    .nice-select .list:hover .option:not(:hover) {
      background-color: transparent !important; }
  .nice-select .option {
    cursor: pointer;
    font-weight: 400;
    line-height: 40px;
    list-style: none;
    min-height: 40px;
    outline: none;
    padding-left: 18px;
    padding-right: 29px;
    text-align: left;
    -webkit-transition: all 0.2s;
    transition: all 0.2s; }
    .nice-select .option:hover, .nice-select .option.focus, .nice-select .option.selected.focus {
      background-color: #f6f7f9; }
    .nice-select .option.selected {
      font-weight: bold; }
    .nice-select .option.disabled {
      background-color: transparent;
      color: #90a1b5;
      cursor: default; }

.no-csspointerevents .nice-select .list {
  display: none; }

.no-csspointerevents .nice-select.open .list {
  display: block; }

.contact_frm{ width: 100%; float: left;}
.cntact_wrkarea{width: 100%; float: left;    margin-bottom: 40px;}
.cntact_wrkarea p{ font-size: 30px;
text-align: center;
color: #fff;
text-shadow: 0px 0px 1px rgba(0, 0, 0, 0.8);}
.it_form{width: 100%; float: left; background: rgba(255,255,255,0.3);padding: 40px 30px 40px 40px;}
.it_cntrl{ height: 41px;background: #f7f7f7; box-shadow: none;}
.box{ float: left; width: 100%; margin-bottom: 15px;}
.form_container{ width: 1050px;}
.it_cntrl:focus{ background: #fff;}
.ncart_img{ width:35px !important;right: 5px;}
.nblog_img{ width:30px !important;}
.ncre-img{width:30px !important;right: 5px;}
.circle_para {
    font-size: 15px;
    font-weight: 100;	
}
@media screen and (max-width: 1350px){ 
.info h2 {
	font-size: 30px;
	margin: 10px 0px;
}
.it_desc p {
	padding: 0px 16%;
	font-size:16px;
}
.it_desc {
	margin-bottom:0px;
}
.bounce_button {
	bottom:10px;
}
}
@media screen and (max-width: 991px){
.info h2 {
    font-size: 20px;
    margin: 0px 0px;
}
.it_desc p {
	padding: 0px 16%;
	font-size:12px;
}
.mad-select ul.mad-select-drop li {
    display: block;
    transition: background 0.24s;
    cursor: pointer;
    text-overflow: ellipsis;
    max-width: calc(100% - 0px);
    overflow: hidden;
}
.ccc {
    width: 100% !important;	
}
.mad-select { 
    width: 100% !important;
	margin-left: 0px !important;
}
}
@media screen and (max-width: 920px){
	.it-logo span {
		font-size:14px;
		top: 26px;
        left: -30px;
	}
	.it-logo { 
	    width: 210px;
	}
	.it-logo img {
        width: 80px;

    }
	.info h2 {
		font-size: 16px;
		min-height:23px;
	}
	.co-date {
		font-size: 30px;
	}
}
@media screen and (max-width: 767px){
	.it_desc {
		display:none;
	}
	.info h2 { 
	    margin-top: 20px;
	}
	.bounce_button { 
	    left:48%;
	}
}
@media screen and (max-width: 473px){ 
	.info h2 { 
	    margin-top: 0px;
		font-size:12px;
	}
	.it-logo img {
        width: 50px;
    }
	.it-logo span {
		font-size: 11px;
		top: 10px;
		left: -17px;
	}
	.bounce_button {
		display:none;
	}
	.bounce_buttons {
		display:none;
	}
	.it-logo {
		width: 150px;
	}
}